{% load static %}

<div class="footer bg-light mt-5">
    <!--<div class="footer fixed-bottom bg-light">-->
    <div class="row border">
        <div class="col-5">
            <div class="d-flex flex-column">
                <div class="p-2"><img src="{% static 'images/logo_500_500.svg' %}" style="width: 50px; height: 50px;"
                        alt=""></div>
                <div class="p-2"><span>Address</span></div>
                <div class="p-2"><span>Phone</span></div>
                <div class="p-2"><span>Email</span></div>
                <div class="p-2"><span>Website</span></div>
            </div>
        </div>
        <div class="col-7">
            <div class="row">
                <div class="col-6 mt-5">
                    <div class="p-2"><span class="text-muted">Get Involved</span></div>
                    <div class="p-2"><span class="text-muted">Blog</span></div>
                    <div class="p-2"><span class="text-muted">Ways to Give</span></div>
                </div>
                <div class="col-6 mt-5">
                    <div class="p-2"><span class="text-muted">About Us</span></div>
                    <div class="p-2"><span class="text-muted">Revenues</span></div>
                    <div class="p-2"><span class="text-muted">Expenditures</span></div>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col">
            <span class="m-2">Site Map</span>
            |
            <span class="m-2">Terms & Conditions</span>
            |
            <span class="m-2">Privacy Policy</span>
            |
            <span class="m-2">Copyright @ 2021</span>
        </div>
    </div>
</div>