<div class="row">
    <div class="col-3 m-auto">
        <h3 class="text-muted my-5">Join Us Form</h3>
        <form id="joinUsForm">

            {% csrf_token %}

            <div class="mb-3">
                <label for="username" class="form-label required">Username</label>
                <input type="text" class="form-control" id="username" aria-describedby="usernameHelp">
                <div id="usernameHelp" class="form-text">Required, must be at most 8 characters long
                </div>
                <span class="text-danger d-none" id="usernameRequired">- Username field is
                    required.<br></span>
                <span class="text-danger d-none" id="usernameLongerThanEightChar">- Username can not be
                    longer than
                    8 characters.</span>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label required">Email</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
                <span class="text-danger d-none" id="emailRequired">- Email field is required.<br></span>
                <span class="text-danger d-none" id="emailFormatRequired">- Email format is
                    required.</span>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label required">Password</label>
                <input type="password" class="form-control" id="password"
                    aria-describedby="passwordHelp">
                <div id="passwordHelp" class="form-text">Required, must be at most 8 characters long
                    compromising at least a digit, a lowercase letter, and an uppercase letter</div>
                <span class="text-danger d-none" id="passwordRequired">- Password field is
                    required.<br></span>
                <span class="text-danger d-none" id="passwordLongerThanEightChar">- Password can not be
                    longer than 8 characters.<br></span>
                <span class="text-danger d-none" id="passwordLowercase">- Password must contain
                    lowercase characters.<br></span>
                <span class="text-danger d-none" id="passwordUppercase">- Password must
                    contain uppercase characters.<br></span>
                <span class="text-danger d-none" id="passwordDigit">- Password must
                    contain digit.<br></span>
            </div>

            <div class="mb-3">
                <label for="firstName" class="form-label">First name</label>
                <input type="text" class="form-control" id="firstName" aria-describedby="firstNameHelp">
            </div>
            <div class="mb-3">
                <label for="middleName" class="form-label">Middle name</label>
                <input type="text" class="form-control" id="middleName"
                    aria-describedby="middleNameHelp">
            </div>
            <div class="mb-3">
                <label for="lastName" class="form-label required">Last name</label>
                <input type="text" class="form-control" id="lastName" aria-describedby="lastNameHelp">
                <span class="text-danger d-none" id="lastNameRequired">- Last name is
                    required.</span>
            </div>

            <label for="gender" class="form-label required">Gender</label>
            <select class="form-select" id="gender">
                <option selected value="">Choose one</option>
                <option value="F">Female</option>
                <option value="M">Male</option>
            </select>
            <span class="text-danger d-none" id="genderRequired">- Gender is
                required.<br></span>
            <br>

            
            <div class="mb-3">
                <label for="streetAddress" class="form-label required">Street address</label>
                <input type="text" class="form-control" id="streetAddress">
                <span class="text-danger d-none" id="streetAddressRequired">- Street address is
                    required.<br></span>
            </div>

            <div class="mb-3">
                <label for="city" class="form-label required">City</label>
                <input type="text" class="form-control" id="city">
                <span class="text-danger d-none" id="cityRequired">- City is
                    required.<br></span>
                <span class="text-danger d-none" id="cityDigit">- City must not 
                    contain digit.<br></span>
            </div>

            <label for="state" class="form-label required">State (US states only)</label>
            <br>
            <select class="form-select" id="state">
                <option selected value="">Choose one</option>
                <option value="AL">Alabama</option>
                <option value="AK">Alaska</option>
                <option value="AZ">Arizona</option>
                <option value="AR">Arkansas</option>
                <option value="CA">California</option>
                <option value="CO">Colorado</option>
                <option value="CT">Connecticut</option>
                <option value="DE">Delaware</option>
                <option value="DC">District Of Columbia</option>
                <option value="FL">Florida</option>
                <option value="GA">Georgia</option>
                <option value="HI">Hawaii</option>
                <option value="ID">Idaho</option>
                <option value="IL">Illinois</option>
                <option value="IN">Indiana</option>
                <option value="IA">Iowa</option>
                <option value="KS">Kansas</option>
                <option value="KY">Kentucky</option>
                <option value="LA">Louisiana</option>
                <option value="ME">Maine</option>
                <option value="MD">Maryland</option>
                <option value="MA">Massachusetts</option>
                <option value="MI">Michigan</option>
                <option value="MN">Minnesota</option>
                <option value="MS">Mississippi</option>
                <option value="MO">Missouri</option>
                <option value="MT">Montana</option>
                <option value="NE">Nebraska</option>
                <option value="NV">Nevada</option>
                <option value="NH">New Hampshire</option>
                <option value="NJ">New Jersey</option>
                <option value="NM">New Mexico</option>
                <option value="NY">New York</option>
                <option value="NC">North Carolina</option>
                <option value="ND">North Dakota</option>
                <option value="OH">Ohio</option>
                <option value="OK">Oklahoma</option>
                <option value="OR">Oregon</option>
                <option value="PA">Pennsylvania</option>
                <option value="RI">Rhode Island</option>
                <option value="SC">South Carolina</option>
                <option value="SD">South Dakota</option>
                <option value="TN">Tennessee</option>
                <option value="TX">Texas</option>
                <option value="UT">Utah</option>
                <option value="VT">Vermont</option>
                <option value="VA">Virginia</option>
                <option value="WA">Washington</option>
                <option value="WV">West Virginia</option>
                <option value="WI">Wisconsin</option>
                <option value="WY">Wyoming</option>
            </select>
            <span class="text-danger d-none" id="stateRequired">- State is
                required.<br/></span><br>

            <div class="mb-3">
                <label for="zipcode" class="form-label required">Zip code</label>
                <input type="text" class="form-control" id="zipcode">
                <span class="text-danger d-none" id="zipCodeRequired">- Zip code is
                    required.<br></span>
            </div>

            <div class="mb-3">
                <label for="tel" class="form-label required">Cell Phone number</label>
                <input type="tel" class="form-control" id="tel">
                <span class="text-danger d-none" id="telRequired">- Cell phone number is
                    required.<br></span>
            </div>

            <div class="mb-3">
                <label for="country" class="form-label required">Country of Origin</label>
                <input type="text" class="form-control" id="country">
                <span class="text-danger d-none" id="countryRequired">- Country is
                    required.<br></span>
            </div>

            <div class="mb-3">
                <label for="dob" class="form-label required">Date of Birth</label>
                <input type="date" class="form-control" id="dob" placeholder="yyyy-mm-dd">
                <span class="text-danger d-none" id="dobRequired">- DoB is
                    required.<br></span>
            </div>

            <div class="mb-3">
                <label for="memberOrganization" class="form-label">Member Organization</label>
                <input type="text" class="form-control" id="memberOrganization">
            </div>

            <a class="btn btn-outline-danger" href="{% url 'home' %}">Cancel</a>
            <button type="submit" class="btn btn-outline-primary" id="joinUsButton">Sign Up</button>
            <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
        </form>

    </div>
</div>
