<div class="row" style="min-height: 75vh">
    <div class="col-3 m-auto">
        <h3 class="text-muted my-5">Sign In Form</h3>
        <form id="signInForm" action="signin" method="POST">

            {% csrf_token %}
        
            <div class="mb-3">
                <label for="signInInputUsername" class="form-label required">Username</label>
                <input type="text" class="form-control" id="signInInputUsername" name="username">
            </div>
            <span class="text-danger d-none" id="signInInputUsernameRequired">- Username field is
                required.<br></span>
        
            <div class="mb-3">
                <label for="signInpassword" class="form-label required">Password</label>
                <input type="password" class="form-control" id="signInpassword" name="password">
            </div>
            <span class="text-danger d-none" id="signInpasswordRequired">- Password field is required.<br></span>
        
            <br>
            <a class="btn btn-outline-danger" href="{% url 'home' %}">Cancel</a>
            <button type="submit" class="btn btn-outline-primary" id="signInButton">Sign In</button>
        </form>
    </div>
</div>
