<div class="row">
    <div class="col-3 m-auto">
        <h3 class="text-muted my-5">Join Us Form</h3>
        <form id="joinUsForm" method="POST" action="">

            {% csrf_token %}

            <div class="mb-3">
                <label for="username" class="form-label required">Username</label><br>
                {{form.username}}
                <div id="usernameHelp" class="form-text">Required, must be at least 8 characters long
                </div>
                <span class="text-danger d-none" id="usernameRequired">- Username field is
                    required.<br></span>
                <span class="text-danger d-none" id="usernameLongerThanEightChar">- Username can not be
                    longer than
                    8 characters.</span>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label required">Email</label><br>
                {{form.email}}
                <span class="text-danger d-none" id="emailRequired">- Email field is required.<br></span>
                <span class="text-danger d-none" id="emailFormatRequired">- Email format is
                    required.</span>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label required">Password</label><br>
                {{form.password1}}
                <div id="passwordHelp" class="form-text">Required, must be at most 8 characters long
                    compromising at least a digit, a lowercase letter, and an uppercase letter</div>
                <span class="text-danger d-none" id="passwordRequired">- Password field is
                    required.<br></span>
                <span class="text-danger d-none" id="passwordLongerThanEightChar">- Password can not be
                    longer than 8 characters.<br></span>
                <span class="text-danger d-none" id="passwordLowercase">- Password must contain
                    lowercase characters.<br></span>
                <span class="text-danger d-none" id="passwordUppercase">- Password must
                    contain uppercase characters.<br></span>
                <span class="text-danger d-none" id="passwordDigit">- Password must
                    contain digit.<br></span>
            </div>
            <div class="mb-3">
                <label for="password2" class="form-label required">Re-enter password</label><br>
                {{form.password2}}
            </div>
            <div class="mb-3">
                <label for="firstName" class="form-label required">First name</label><br>
                {{form.first_name}}
                <span class="text-danger d-none" id="firstNameRequired">- First name is
                    required.</span>
            </div>
            
            <div class="mb-3">
                <label for="lastName" class="form-label required">Last name</label><br>
                {{form.last_name}}
                <span class="text-danger d-none" id="lastNameRequired">- Last name is
                    required.</span>
            </div>

            <a class="btn btn-outline-danger" href="{% url 'home' %}">Cancel</a>
            <input type="submit" class="btn btn-outline-primary"  name="SignUp" value="Sign Up">
            
            <!-- form errors -->
            {{form.errors}}

            <div class="mb-3">
                Already have an account? <a href="{% url 'signin' %}">Sign in</a>
            </div>
            
            
        </form>

    </div>
</div> 
